{% if student['photo'] %}

<img src="/static/uploads/students/{{ student['photo'] }}"
     class="profile-photo">

{% else %}

<div class="profile-avatar">

    {{ student['name'][0] }}

</div>

{% endif %}

<div class="profile-grid">

    <div class="profile-item">
        <h4>Class</h4>
        <p>{{ student['class_name'] }}</p>
    </div>

    <div class="profile-item">
        <h4>Parent Name</h4>
        <p>{{ student['parent_name'] }}</p>
    </div>

    <div class="profile-item">
        <h4>Contact</h4>
        <p>{{ student['contact'] }}</p>
    </div>

    <div class="profile-item">
        <h4>Password</h4>
        <p>{{ student['password'] }}</p>
    </div>

    <div class="profile-item">
        <h4>Aadhaar Number</h4>
        <p>{{ student['aadhaar'] }}</p>
    </div>

    <div class="profile-item">
        <h4>Address</h4>
        <p>{{ student['address'] }}</p>
    </div>

    <div class="profile-item">
        <h4>City</h4>
        <p>{{ student['city'] }}</p>
    </div>

    <div class="profile-item">
        <h4>State</h4>
        <p>{{ student['state'] }}</p>
    </div>

    <div class="profile-item">
        <h4>Pincode</h4>
        <p>{{ student['pincode'] }}</p>
    </div>

</div>